<div class="wide-page">
    <div style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4), transparent), url('/assets/careers.jpg'); background-position: 70% 70%; background-repeat: no-repeat; background-size: cover" id="hero-top" class="hero-img">
        
    </div>
    <div id="headline-bottom">
        <section>
            <div id="one-spark">
                <h3>WE GROW GENIUSES.</h3>
                <img src="./t_files/fire_emoji.png" class="fire-emoji">
            </div>
            <p id="one-spark-description">
                Tinder is only as good as its people. So, our people are our greatest investment. We’re dedicated to building a strong future for the company, making growth our biggest motivator. We know that the only way to grow is to inspire, train and cultivate our successors. The stewards of our vision will take the time to learn it, embody it, and live it. Amazing things are happening at Tinder. If you’re looking for a real opportunity to have an impact on people’s lives, you belong here. With tens of millions of users and a presence in every country on earth, our reach is expansive—and rapidly growing. Your work here can change the world.
            </p>
        </section>
    </div>
</div>
<div id="footer-apply">
    <section>
        <div id="company-info">
            <div class="info-box">
                We have passion.
                <p>
                    Everyone at Roots is on a mission. Whether you work in product, marketing or tech, innovation is the name of the game.
                </p>
            </div>
            <div class="info-box">
                We have purpose.
                <p>
                    We’re not just strategic; we’re tactical. We’re driven by results and hold each other accountable—so come with the skills to get the job done.
                </p>
            </div>
            <div class="info-box">
                We have something to prove.
                <p>
                    Roots makes a promise to bring people together—anywhere in the world, in real time. Every member of our team has a duty to deliver on that promise.
                </p>
            </div>
        </div>
        
    </section>
</div>
<div id="departments">
   <section>
      <a ui-sref="page.job-department({ department: jobDeptValue.url })" ng-repeat="(jobDeptName, jobDeptValue) in dept.jobDepartments" class="ng-scope" href="https://www.gotinder.com/jobs/departments/software-engineering" style="">
         <div class="department-box">
            <img ng-src="/images/department_icons/Engineering.png" class="dept-icon" src="./m_files/Engineering.png">
            <h4 class="ng-binding">Software Engineering</h4>
         </div>
      </a>
      <a ui-sref="page.job-department({ department: jobDeptValue.url })" ng-repeat="(jobDeptName, jobDeptValue) in dept.jobDepartments" class="ng-scope" href="https://www.gotinder.com/jobs/departments/data-analytics">
         <div class="department-box">
            <img ng-src="/images/department_icons/DataAnalytics.png" class="dept-icon" src="./m_files/DataAnalytics.png">
            <h4 class="ng-binding">Data Analytics</h4>
         </div>
      </a>
      <a ui-sref="page.job-department({ department: jobDeptValue.url })" ng-repeat="(jobDeptName, jobDeptValue) in dept.jobDepartments" class="ng-scope" href="https://www.gotinder.com/jobs/departments/product-management">
         <div class="department-box">
            <img ng-src="/images/department_icons/ProductManagement.png" class="dept-icon" src="./m_files/ProductManagement.png">
            <h4 class="ng-binding">Product Management</h4>
         </div>
      </a>
      <a ui-sref="page.job-department({ department: jobDeptValue.url })" ng-repeat="(jobDeptName, jobDeptValue) in dept.jobDepartments" class="ng-scope" href="https://www.gotinder.com/jobs/departments/product-design">
         <div class="department-box">
            <img ng-src="/images/department_icons/ProductDesign.png" class="dept-icon" src="./m_files/ProductDesign.png">
            <h4 class="ng-binding">Product Design</h4>
         </div>
      </a>
      <a ui-sref="page.job-department({ department: jobDeptValue.url })" ng-repeat="(jobDeptName, jobDeptValue) in dept.jobDepartments" class="ng-scope" href="https://www.gotinder.com/jobs/departments/hr-and-recruiting">
         <div class="department-box">
            <img ng-src="/images/department_icons/People.png" class="dept-icon" src="./m_files/People.png">
            <h4 class="ng-binding">HR &amp; Recruiting</h4>
         </div>
      </a>
      <a ui-sref="page.job-department({ department: jobDeptValue.url })" ng-repeat="(jobDeptName, jobDeptValue) in dept.jobDepartments" class="ng-scope" href="https://www.gotinder.com/jobs/departments/international">
         <div class="department-box">
            <img ng-src="/images/department_icons/International.png" class="dept-icon" src="./m_files/International.png">
            <h4 class="ng-binding">International</h4>
         </div>
      </a>
      <a ui-sref="page.job-department({ department: jobDeptValue.url })" ng-repeat="(jobDeptName, jobDeptValue) in dept.jobDepartments" class="ng-scope" href="https://www.gotinder.com/jobs/departments/marketing-and-communications">
         <div class="department-box">
            <img ng-src="/images/department_icons/MarketingCommunications.png" class="dept-icon" src="./m_files/MarketingCommunications.png">
            <h4 class="ng-binding">Marketing &amp; Communications</h4>
         </div>
      </a>
      <a ui-sref="page.job-department({ department: jobDeptValue.url })" ng-repeat="(jobDeptName, jobDeptValue) in dept.jobDepartments" class="ng-scope" href="https://www.gotinder.com/jobs/departments/community">
         <div class="department-box">
            <img ng-src="/images/department_icons/Community.png" class="dept-icon" src="./m_files/Community.png">
            <h4 class="ng-binding">Community</h4>
         </div>
      </a>
      <a ui-sref="page.job-department({ department: jobDeptValue.url })" ng-repeat="(jobDeptName, jobDeptValue) in dept.jobDepartments" class="ng-scope" href="https://www.gotinder.com/jobs/departments/information-security">
         <div class="department-box">
            <img ng-src="/images/department_icons/InformationSecurity.png" class="dept-icon" src="./m_files/InformationSecurity.png">
            <h4 class="ng-binding">Information Security</h4>
         </div>
      </a>
      <a ui-sref="page.job-department({ department: jobDeptValue.url })" ng-repeat="(jobDeptName, jobDeptValue) in dept.jobDepartments" class="ng-scope" href="https://www.gotinder.com/jobs/departments/it-and-office-operations">
         <div class="department-box">
            <img ng-src="/images/department_icons/ITOperations.png" class="dept-icon" src="./m_files/ITOperations.png">
            <h4 class="ng-binding">IT &amp; Office Operations</h4>
         </div>
      </a>
      <a ui-sref="page.job-department({ department: jobDeptValue.url })" ng-repeat="(jobDeptName, jobDeptValue) in dept.jobDepartments" class="ng-scope" href="https://www.gotinder.com/jobs/departments/finance">
         <div class="department-box">
            <img ng-src="/images/department_icons/Finance.png" class="dept-icon" src="./m_files/Finance.png">
            <h4 class="ng-binding">Finance</h4>
         </div>
      </a>
      <a ui-sref="page.job-department({ department: jobDeptValue.url })" ng-repeat="(jobDeptName, jobDeptValue) in dept.jobDepartments" class="ng-scope" href="https://www.gotinder.com/jobs/departments/tindership-and-university-grads">
         <div class="department-box">
            <img ng-src="/images/department_icons/Tinderships.png" class="dept-icon" src="./m_files/Tinderships.png">
            <h4 class="ng-binding">Internship for University Grads</h4>
         </div>
      </a>
      <div id="apply-section">
            <a class="apply-button" href="/careers/teams">
            Join our Team
            </a>
        </div>
   </section>
</div>