<div class="wide-page">
    <div id="hero-top" class="hero-img">
        <%= image_tag ("logo_text.png"), :class =>"logo-text" %>
    </div>
    <div id="headline-bottom">
        <section>
            <div id="one-spark">
                <h3>Our Philosophy: Be Limitless</h3>
            </div>
            
            <p id="one-spark-description">
                We are on our journey to create the world’s fastest growing app for the <b>Modern Day Hippie Traveller</b>.<br/>
                We research, refactor, analyse and solve the toughest of problems by getting clarity and tickling our creativity.

            </p>
            <%= image_tag ("ironman.jpg"), :class => "limitless" %>
        </section>
    </div>
</div>

<div id="footer-apply">
    <section>
        <div id="company-info">
            <div class="info-box">
                We are the most passionate earthlings.
                <p>
                    Everyone at Roots is dedicated towards breathing life to the product by innovating and challenging the current norms.
                </p>
                
            </div>
            <div class="info-box">
                We perceive clarity before acting.
                <p>
                    We plan to the tiniest of details by making everything as simple as possible but not simpler.
                </p>
                
            </div>
            <div class="info-box">
                <div>We have something to prove to ourselves.</div>
                <p>
                    We plan to bring the entire globe on the Roots map and make it discoverable by a Hippie.
                </p>
                
            </div>
        </div>
    </section>
</div>
<div>
   <div class="people">
     <h1>FOUNDER</h1>
     <div class="about-me-wrapper">
        <%= image_tag ("bhuwan.jpg"), :class => "about-me" %>
     </div>
     <h3>Bhuwan Arora</h3>
     <a href="https://www.linkedin.com/in/bhuwanarora/" target="_blank">LinkedIn</a>
  </div>
   <div id="apply-section" style="text-align: center; margin: 40px;">
         <a class="apply-button" href="/careers/teams/internships">
            Open Positions
         </a>
     </div>
</div>