 <section>

	<div id="company-info">
		 <div class="info-box clear-shadow">
			<%= image_tag "for_businesses.png"%>
		 </div>
		 <div class="info-box clear-shadow clear-padding">
			<div id="departments-description">
				<span class="red-headline">
					<b>BUSINESSES</b>
				</span>
				
			</div>
			<ul class="points" style="background: #F2F2F2;">
				<li class="point"><p>Zero Transaction Fees</p></li>
				<li class="point"><p>No barriers to market entry</p></li>
			</ul>
			<div>
				<br/>
				<div>We allow small companies to compete with big players, finally bringing innovation back into the travel industry by creating business reputation systems, metering economy and inclusion of the Remote Areas.</div>
				<br/>
				
			 </div>
		 </div>
	 </div>
</section>