 <section>

	<div id="company-info">
		 <div class="info-box clear-shadow">
			<%= image_tag "for_businesses.png"%>
		 </div>
		 <div class="info-box clear-shadow clear-padding">
			<div id="departments-description">
				<span class="red-headline">
					<b>BUSINESSES</b>
				</span>
				<p>Our MVP in Gokarna, the coastal town of South India</p>
			 </div>
			<ul class="points" style="background: linear-gradient(216deg, #007382, #86f501);">
				<li class="point"><p>Business Reputation System</p></li>
				<li class="point"><p>Metering Economy</p></li>
				<li class="point"><p>Inclusion</p></li>
			</ul>
		 </div>
	 </div>
</section>