<div class="buffer"></div>
<div class="m-page m-jobs departments-stretch " id="faqs">
	<div id="footer-apply">
		<div class="wide-page">
		    <div>
		        <section>
		        	<div id="departments-description">
			            <span class="red-headline">
		              		<b>CONTACT NOW</b>
		              	</span>
		            	<div>
	               			<br/>Become an individual, corporate, or equity subscriber.
	            		</div>
		        	</div>
	            	<a href="mailto:business@roots.ai" class="email" target="_blank">EMAIL US</a>
		        </section>
		    </div>
		</div>
	   	
	</div>
</div>