<div class="m-page m-jobs departments-stretch " 
	style="background: linear-gradient(216deg, #000, #673AB7, #03A9F4, #007382, #86f501);">
	<div class="wide-page">
	    <div id="hero-top" class="hero-img">
            <div id="departments-description">
		        <div class="text">RTS TOKEN</div>
            	<p class="white">CryptoCurrency for Travelling</p>
	            <div class="white">
					The RTS token facilitates transactions on the RTS Network. RTS is used by travel companies to distribute inventory and make transactions without intermediaries.
	            </div>
        	</div>
	    </div>
	</div>
	<div class="buffer"></div>
	<div class="wide-page">
		<div id="chart" class="chart-container"></div>
			<div class="pie-chart">
				<div class="text">TOKEN ALLOCATION</div>
				<p class="white">CryptoCurrency for Travelling</p><br/>
				<div class="token">
					<%= render partial: "website/partials/pie"%>
				</div>
			</div>
			<div class="pie-chart">
				<div class="text">FUNDS DISTRIBUTION</div>
				<p class="white">How we are going to use funds</p><br/>
				<div class="funds">
					<%= render partial: "website/partials/funds"%>
				</div>
			</div>
		</div>
	</div>
</div>