<section>
     <div id="headline-bottom">
        <section>
           <div id="departments-description">
              <span class="red-headline">
              	<b>ECOSYSTEM</b>
              </span>
              	<p>
       				Our MVP in Gokarna, the coastal town of South India
    			</p>
           </div>
        </section>
     </div>
    <div id="company-info" style="background: linear-gradient(216deg, #007382, #86f501);">
        <div class="info-box" style="margin: 0 20px;">
            Credit Funding, Suppliers, Partners and Investment Opportunities	                
        </div>
        <div class="info-box" style="margin: 0 20px;">
            Travel Insurance.
            <p>
                We plan to the tiniest of details by making everything as simple as possible but not simpler.
            </p>
            
        </div>
        <div class="info-box" style="margin: 0 20px;">
            <div>We have something to prove to ourselves.</div>
            <p>
                We plan to bring the entire globe on the Roots map and make it discoverable by a Hippie.
            </p>
            
        </div>
        <div class="info-box" style="margin: 0 20px;">
            <div>We have something to prove to ourselves.</div>
            <p>
                We plan to bring the entire globe on the Roots map and make it discoverable by a Hippie.
            </p>
            
        </div>
    </div>
  </section>