<section>
   <div id="headline-bottom">
      <section>
         <div id="departments-description">
            <span class="red-headline">
              	<b>ECOSYSTEM</b>
            </span>
        	   <p>
    				Perfect competition between travel suppliers.<br/>Perfect information to buyers.
    			</p>
         </div>
      </section>
   </div>
   <div id="company-info" style="background: linear-gradient(216deg, #007382, #86f501);">
      <div class="info-box" style="margin: 0 20px;">
         <div>Value as an Incentive</div>
         <p>
            For each permission to use data, the user gets tokens, which he can exchange for money or a tourist service.
         </p>
            
      </div>
      <div class="info-box" style="margin: 0 20px;">
         <div>Easy as a Pie</div>
         <p>
            Travel Unplanned. Suppliers are facilitated with information of the buyers.
         </p>
      </div>
      <div class="info-box" style="margin: 0 20px;">
         Packaging
         <p>
            The travelers can create their custom personalised packages for the things they want and can pay for it in RTS.
         </p>
      </div>
      <div class="info-box" style="margin: 0 20px;">
         Vastness
         <p>Photos and maps to help travelers find the best hotels, restaurants, local transport, public amenities for a city.</p>
      </div>
   </div>
</section>