<div class="buffer"></div>
<div class="m-page m-jobs departments-stretch " id="faqs">
	<div id="footer-apply">
		<div class="wide-page">
		    <div>
		        <section>
		        	<div id="departments-description">
			            <span class="red-headline">
		              		<b>FAQs</b>
		              	</span>
		            	<div>
	               			<br/>The frequently asked questions from Roots Team
	            		</div>
		        	</div>
	            	<button class="accordion">1. Why do we need blockchain in the tourism industry?</button>
					<div class="panel">
					  With it's inherent characteristics of immutability, de-centralization and provenance, blockchain technology builds trust and traceability which is highly desirable in any industry and tourism industry in particular. The ability to provide disintermediation will solve one of the biggest problem of intermediaries currently plaguing the tourism sector.
					</div>

					<button class="accordion">2. Why use open source blockchain?</button>
					<div class="panel">
					  Making the blockchain open source means greater community support, robust network and feature-rich ecosystem which enables end users and developers to modify and build their applications without worrying about and spending needless hours on reinventing the wheel.
					</div>

					<button class="accordion">3. Why does business need a RTS?</button>
					<div class="panel">
					  RTS scales up the tourism services production, distribution and consumption platform. It powers transactions and monetizes the incentives of participants for providing quality content and services around tourism industry.
					</div>

					<button class="accordion">4. How much will a RTS cost during the Token Sale?</button>
					<div class="panel">
						RTS price during ICO will be decided by the price discovery mechanism during Dutch auction in pre-ICO
					</div>

					<button class="accordion">5. What is the emission of tokens distributed during Token Pre-sale and Token Sale?</button>
					<div class="panel">
						Tokens generated during ICO: 205 million
					</div>

					<button class="accordion">6. When will the Token Sale begin and how long will it last?</button>
					<div class="panel">
					  Join our mailing list for updates on the Token sale start date and time.
					</div>

					<button class="accordion">7. What purpose does the Token Sale campaign pursue?</button>
					<div class="panel">
					 	The objective is to raise capital for further development and enhancement of RTS Network and provide travellers and tourism businesses the ability to use the Roots blockchain platform.
					</div>

					<button class="accordion">8. Why do we produce RTS on our own blockchain?</button>
					<div class="panel">
					Initially, we are going to issue it on a smart contract (ERC20 or NEP5) and then transfer it to the RTS Network blockchain.
					</div>

					<button class="accordion">9. Is the blockchain running already?</button>
					<div class="panel">
						The RTS Network blockchain is under development.
					</div>

					<button class="accordion">10. In what currency will the funds be collected?</button>
					<div class="panel">
						Yet to be announced.
					</div>

					<button class="accordion">11. When can I sell the tokens on the exchange?</button>
					<div class="panel">
						Tokens will be listed on major exchanges around the world once ICO sale is over.
					</div>
					<button class="accordion">12. Can Indian citizens participate in the Token Sale?</button>
					<div class="panel">
						Yes Indian citizens can participate in the ICO. 
					</div>
					<button class="accordion">13. How to participate in Token Sale?</button>
					<div class="panel">
						Yet to be announced.
					</div>
					<button class="accordion">14. Is the the white list open?</button>
					<div class="panel">
						Yes, the whitelist is open for early investors to grab RTS at discount from ICO price.
					</div>
					
					<button class="accordion">15. Where can I see how much has been sold already?</button>
					<div class="panel">
						Once the ICO starts, the statistics for sold and unsold tokens will be updated on our token page. token.roots.ai
					</div>
					<button class="accordion">16. Can people from [my country] participate?</button>
					<div class="panel">
						People from all countries can participate except Chinese citizens.
					</div>
					<button class="accordion">17. What is happening to unsold tokens?</button>
					<div class="panel">
						The unsold tokens will be resent to unsold pool if Soft cap is reached. These tokens can be bought in future ICOs.
					</div>
					<button class="accordion">18. Where can I read the white paper?</button>
					<div class="panel">
						You may find a link to the white-paper on our homepage.
					</div>
					<button class="accordion">19. How much is the pre-sale bonus?</button>
					<div class="panel">
						Pre-sale bonus starts with 30%, and will be reducing by a fixed rate daily till it reaches the ICO price
					</div>
		        </section>
		    </div>
		</div>
	   	
	</div>
</div>