<div class="buffer"></div>
<div class="m-page m-jobs departments-stretch " id="faqs">
	<div id="footer-apply">
		<div class="wide-page">
		    <div>
		        <section>
		        	<div id="departments-description">
			            <span class="red-headline">
		              		<b>FAQs</b>
		              	</span>
		            	<p>
	               			The frequently asked questions from Roots Team
	            		</p>
		        	</div>
	            	<button class="accordion">1. Why do we need blockchain in the tourism industry?</button>
					<div class="panel">
					  Data is oil of the 21st century, but in most of the cases it is hidden inside corporate systems and cannot be used by other companies to create innovative services. Our goal is to provide equal access for data exchange among all players in the market.
					</div>

					<button class="accordion">2. Why use open source blockchain?</button>
					<div class="panel">
					  The more applications in the Roots ecosystem we have, the higher the number of participants and the greater the demand for RTS.
					</div>

					<button class="accordion">3. Why does business need a RTS?</button>
					<div class="panel">
					  Access to the Roots ecosystem data can significantly reduce marketing costs of business.
					</div>

					<button class="accordion">4. How much will a RTS cost during the Token Sale?</button>
					<div class="panel">
					  There will be two orders issued:
						Equal to $ 3,000,000 with 15% discount for 232 290 502,8 TT. 
						Price: equal to $ 0.0129
						Equal to $ 7,000,000 for 460 709 497,2 TT. 
						Price: equal to $ 0.0151
					</div>

					<button class="accordion">5. What is the emission of tokens distributed a Token PreSale and Token Sale?</button>
					<div class="panel">
					  In total, 2 100 000 000 RTSs will be issued, which will be distributed according to the results of 			Token PreSale and Token Sale:
							Early founders & participants – 1.51%
							Token PreSale - 17.69%
							Token Sale – 33,00%
							Team – 13.80%
							Advisors – 2,00%
							Bounty – 1.00%
							Development Trust– 30,00%
							The safety fund’s starting account – 1%
					</div>

					<button class="accordion">6. When will the Token Sale begin and how long will it last?</button>
					<div class="panel">
					  
					</div>

					<button class="accordion">7. What purpose does the Token Sale campaign pursue?</button>
					<div class="panel">
					 
					</div>

					<button class="accordion">8. How will the funds raised for the Token Sale be used?</button>
					<div class="panel">
					 
					</div>

					<button class="accordion">9. Where is a RTS issued?</button>
					<div class="panel">
					  
					</div>

					<button class="accordion">10. Why do we produce RTS on our own blockchain?</button>
					<div class="panel">
					  Initially, we were going to issue it on a smart contract basis on Neo and then transfer it to the Roots blockchain. 
					</div>

					<button class="accordion">11. Is the blockachain running already?</button>
					<div class="panel">
					</div>

					<button class="accordion">12. In what currency will the funds be collected?</button>
					<div class="panel">
					</div>

					<button class="accordion">13. When can I sell the tokens on the exchange?</button>
					<div class="panel">
					</div>

					<button class="accordion">14. Can citizens of the United States, the PRC and the Republic of Singapore participate in the Token Sale?</button>
					<div class="panel">
					</div>

					<button class="accordion">15. How to participate in Token Sale?</button>
					<div class="panel">
					</div>
		        </section>
		    </div>
		</div>
	   	
	</div>
</div>