<div class="buffer"></div>
<div class="m-page m-jobs departments-stretch " id="faqs">
	<div id="footer-apply">
		<div class="wide-page">
		    <div>
		        <section>
		            <span class="red-headline">
	              		<b>FAQs</b>
	              	</span>
		            	<p>
	               			Our MVP in Gokarna, the coastal town of South India
	            		</p>
	            		<div class="buffer"></div>
		            	<button class="accordion">1. Why do we need blockchain in the tourism industry?</button>
						<div class="panel">
						  Data is oil of the 21st century, but in most of the cases it is hidden inside corporate systems and cannot be used by other companies to create innovative services. Our goal is to provide equal access for data exchange among all players in the market.
						</div>

						<button class="accordion">2. Why use open source blockchain?</button>
						<div class="panel">
						  The more applications in the TravelChain ecosystem we have, the higher the number of participants and the greater the demand for TravelToken.
						</div>

						<button class="accordion">3. Why does business need a TravelToken?</button>
						<div class="panel">
						  Access to the TravelChain ecosystem data can significantly reduce marketing costs of business.
						</div>

						<button class="accordion">4. How much will a TravelToken cost during the Token Sale?</button>
						<div class="panel">
						  There will be two orders issued:
							Equal to $ 3,000,000 with 15% discount for 232 290 502,8 TT. 
							Price: equal to $ 0.0129
							Equal to $ 7,000,000 for 460 709 497,2 TT. 
							Price: equal to $ 0.0151
						</div>

						<button class="accordion">5. What is the emission of tokens distributed a Token PreSale and Token Sale?</button>
						<div class="panel">
						  In total, 2 100 000 000 TravelTokens will be issued, which will be distributed according to the results of 			Token PreSale and Token Sale:
								Early founders & participants – 1.51%
								Token PreSale - 17.69%
								Token Sale – 33,00%
								Team – 13.80%
								Advisors – 2,00%
								Bounty – 1.00%
								Development Trust– 30,00%
								The safety fund’s starting account – 1%
						</div>

						<button class="accordion">6. When will the Token Sale begin and how long will it last?</button>
						<div class="panel">
						  It starts on December 15 at 14.00 UTC and finishes on March 12 at 14.00 UTC.
						</div>

						<button class="accordion">7. What purpose does the Token Sale campaign pursue?</button>
						<div class="panel">
						  Hard cap: equal to $ 10 000 000. 
								The purpose of raising funds for Token Sale is to lay the groundwork for the platform launch and development financing for the first 3 years. This period is enough for the team to reach self-sufficiency. The business model is described in detail in White Paper. 
								During Token Sale, we are planning to implement a fixed amount of tokens at fixed price by placing 2 orders in the equal to $ 3,000,000 and $ 7,000,000, respectively. If the order equal to $3,000,000 is not sold during Token Sale at a minimum price, the remaining tokens will be sold later upon agreements with funds and private participants or on external exchanges. If the order tokens equal to $7,000,000 are not sold, they will be transferred to the Development Trust account and realized when KPI set in White Paper reaches 100 thousand users.
						</div>

						<button class="accordion">8. How will the funds raised for the Token Sale be used?</button>
						<div class="panel">
						  The raised funds will be distributed as follows:
								Development – 50.3%
								Operating expenses – 19.4%
								Marketing – 21.7%
								Developers community – 6.3%
								Legal services – 1.9%</p>
						</div>

						<button class="accordion">9. Where is a TravelToken issued?</button>
						<div class="panel">
						  TravelToken is created on its own blockchain.</p>
						</div>

						<button class="accordion">10. Why do we produce TravelToken on our own blockchain?</button>
						<div class="panel">
						  Initially, we were going to issue it on a smart contract (ERC20) basis on Ethereum and then transfer it to the TravelChain blockchain. But our development department coped with the prototype writing ahead of schedule, this allows us to run Token Sale on our own blockchain.
						</div>

						<button class="accordion">11. Is the blockachain running already?</button>
						<div class="panel">Yes. You are welcome to follow the link wallet.travelchain.io
						</div>

						<button class="accordion">12. In what currency will the funds be collected?</button>
						<div class="panel">BCH, ETH, BTC, ETC, LSK. LTC, NEO, ZEC, DASH, DOGE, WAVES
						</div>

						<button class="accordion">13. When can I sell the tokens on the exchange?</button>
						<div class="panel">The flotation will be in two weeks after Token Sale closes.
						</div>

						<button class="accordion">14. Can citizens of the United States, the PRC and the Republic of Singapore participate in the Token Sale?</button>
						<div class="panel">You cannot take part in Token Sale if you are a citizen of the United States, the PRC or Singapore, or if you are a citizen or a resident of a country where the use of cryptocurrencies and tokens is restricted.
						</div>

						<button class="accordion">15. How to participate in Token Sale?</button>
						<div class="panel">There will be a button "Participate in Token Sale" on the website Travelchain.io. When you click on it, you are redirected to your account on wallet.travelchain.io, where you can register your account in the TravelChain blockchain. After that, you need to confirm your agreement with the terms of participation in Token Sale and fill out the KYC form. Please leave your email address on TravelChain.io to get a notification about the Token Sale start.
						</div>
		        </section>
		    </div>
		</div>
	   	
	</div>
</div>