<div class="buffer"></div>
<div class="m-page m-jobs departments-stretch " id="faqs">
	<div id="footer-apply">
		<div class="wide-page">
		    <div>
		        <section>
		        	<div id="departments-description">
			            <span class="red-headline">
		              		<b>FAQs</b>
		              	</span>
		            	<p>
	               			The frequently asked questions from Roots Team
	            		</p>
		        	</div>
	            	<button class="accordion">1. Why do we need blockchain in the tourism industry?</button>
					<div class="panel">
					  Data is oil of the 21st century, but in most of the cases it is hidden inside corporate systems and cannot be used by other companies to create innovative services. Our goal is to provide equal access for data exchange among all players in the market.
					</div>

					<button class="accordion">2. Why use open source blockchain?</button>
					<div class="panel">
					  The more applications in the Roots ecosystem we have, the higher the number of participants and the greater the demand for RTS.
					</div>

					<button class="accordion">3. Why does business need a RTS?</button>
					<div class="panel">
					  Access to the Roots ecosystem data can significantly reduce marketing costs of business.
					</div>

					<button class="accordion">4. How much will a RTS cost during the Token Sale?</button>
					<div class="panel">
					</div>

					<button class="accordion">5. What is the emission of tokens distributed a Token PreSale and Token Sale?</button>
					<div class="panel">
					</div>

					<button class="accordion">6. When will the Token Sale begin and how long will it last?</button>
					<div class="panel">
					  
					</div>

					<button class="accordion">7. What purpose does the Token Sale campaign pursue?</button>
					<div class="panel">
					 
					</div>

					<button class="accordion">8. How will the funds raised for the Token Sale be used?</button>
					<div class="panel">
					 
					</div>

					<button class="accordion">9. Where is a RTS issued?</button>
					<div class="panel">
					  
					</div>

					<button class="accordion">10. Why do we produce RTS on our own blockchain?</button>
					<div class="panel">
					  Initially, we were going to issue it on a smart contract basis on Neo and then transfer it to the Roots blockchain. 
					</div>

					<button class="accordion">11. Is the blockachain running already?</button>
					<div class="panel">
					</div>

					<button class="accordion">12. In what currency will the funds be collected?</button>
					<div class="panel">
					</div>

					<button class="accordion">13. When can I sell the tokens on the exchange?</button>
					<div class="panel">
					</div>

					<button class="accordion">14. Can Indian citizens participate in the Token Sale?</button>
					<div class="panel">
					</div>

					<button class="accordion">15. How to participate in Token Sale?</button>
					<div class="panel">
					</div>
		        </section>
		    </div>
		</div>
	   	
	</div>
</div>