<div class="below-the-fold">
	<nav id="home-nav">
		<section class="nav-group " ng-if="showNavDownloadLinks">
			<h5 class="nav-group-header " translate="home.Download">Download</h5>
			<ul>
				<li><a href="https://play.google.com/store/apps/details?id=ai.roots" target="_blank" translate="home.DownloadForAndroid">
					<%= image_tag ("google_play.png") %></a>
				</li>
				<li><a class="inactive" href="" translate="home.DownloadForIOS">Download for iOS</a></li>
			</ul>
		</section>

		<section class="nav-group">
			<h5 class="nav-group-header " translate="home.Company">Company</h5>
			<ul>
				<li><a href="/careers" translate="home.Careers">Careers</a></li>
				<li><a href="/careers/teams" translate="home.Internships">Team</a></li>
				<li><a href="/careers/teams/internships" translate="home.Internships">Internships</a></li>
				
				
				<!-- <li><a class="inactive" translate="home.Safety">Safety Tips</a></li> -->
				<!-- <li><a class="inactive" translate="home.Support">Support</a></li> -->
			</ul>
		</section>


		<section class="nav-group">
			<h5 class="nav-group-header " translate="home.Partners" translate-default="Partners">Partners</h5>
			<ul>
				<li>
					<a target="_blank" href="https://www.ibm.com/us-en/">IBM</a>
				</li>
				<li>
					<a target="_blank" href="https://msg91.com/">MSG91</a>
				</li>
			</ul>
		</section>
		<section class="nav-group">
			<h5 class="nav-group-header " translate="home.Partners" translate-default="Partners">MORE</h5>
			<ul>
				<li><a href="http://newsroom.roots.ai/" target="_blank" translate="home.Blog">Newsroom</a></li>
				<li><a href="http://business.roots.ai/" target="_blank" translate="home.Businesses">Businesses</a></li>
			</ul>
		</section>

	</nav>
	<nav id="company-description">
		RTS Network ICO | Decentralised blockchain that creates a self driven digital commonwealth in Tourism for suppliers and consumers.
	</nav>
</div>
