
<div class="nav-cont">
    <div class="block">
    	<div class="align-horizontal">
   	 		<span class="logo-text">ROOTS NETWORK</span>
    	</div>
    </div>
    <div style="float: right;" class="block clear-padding">
	    <div class="block hide-block">
	    	<a href="#rootsMap">Vision</a>
	    </div>
	    <div class="block hide-block">
	    	<a href="#team">About Us</a>
	    </div>
	     <div class="block hide-block">
	    	<a href="#roadmap">Roadmap</a>
	    </div>
	     <div class="block hide-block">
	    	<a href="#faqs">FAQs</a>
	    </div>
	    <div class="block hide-block">
	    	<a onclick="popup();">WHITEPAPER</a>
	    </div>
    </div>
</div>

<script>
	function popup() {
	    alert("Coming on 25th March.");
	}
</script>