<% items.each do |item| %>
	<table>
		<tr class="price-wrapper">
			<td class="dish">
				
				<%= item["name"] %>
				<div class="description">
					<%= item["description"] %>
				</div>
			</td>
			<td class="price">
				<%= item["price"] %>
			</td>
		</tr>
	</table>
<% end %>