<div class="below-the-fold">
	<nav id="company-description">
		<div>
			<%= render partial: "website/partials/social"%>
		</div>
		<p>RTS Network ICO | Decentralised blockchain that creates a self driven digital commonwealth in Tourism for suppliers and consumers.</p>
	</nav>
</div>
