<div class="m-page m-jobs departments-stretch " id="roadmap" style="background: #F0F0F0;">
	<div>
		<div class="wide-page">
		    <div id="headline-bottom">
		        <section>
	  				<span class="red-headline">
	  					<b>THE JOURNEY</b>
	  				</span>
				</section>
			</div>
		</div>
	</div>

	<div id="timeline">
		<div class="page">
			<div class="page__demo">
				<div class="main-container page__container">
					<div class="timeline">
						<div class="timeline__group">
							<span class="timeline__year">2017</span>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">1</span>
									<span class="timeline__month">Aug</span>
								</div>
								<div class="timeline__post inactive__post">
									<div class="timeline__content">
										THE BEGINNING
										<p>One guy dreams of a world where everyone can travel anywhere unplanned. He begins with the market research.</p>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">22</span>
									<span class="timeline__month">Aug</span>
								</div>
								<div class="timeline__post inactive__post">
									<div class="timeline__content">
										BLOCKCHAIN IDEA
										<p>He sketches up some workflows on the basis of Research and moves to Gokarna, a small coastal beach town in Karnataka, India, to launch an app called Roots as an MVP, with an idea of integrating it with the blockchain to eliminate the intermediaries in travel.</p>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">24</span>
									<span class="timeline__month">Oct</span>
								</div>
								<div class="timeline__post inactive__post">
									<div class="timeline__content">
										BETA LAUNCH, GOKARNA
										<p>He launches a Beta after rigorous development, and starts meeting at least 10 travellers a day to keep on iterating over the product.</p>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">1</span>
									<span class="timeline__month">Dec</span>
								</div>
								<div class="timeline__post inactive__post">
									<div class="timeline__content">
										BUSINESS ONBOARDING ON THE BEACHES
										<p>He then launches the Roots app to the public in Gokarna before the app becomes popular among the local Businesses, and they start showing interest in pushing up advertisements and listings.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="timeline__group">
							<span class="timeline__year">2018</span>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">10</span>
									<span class="timeline__month">Jan</span>
								</div>
								<div class="timeline__post inactive__post">
									<div class="timeline__content">
										GROWTH
										<p>Onboards 300+ local businesses in Gokarna while understanding the pains for each businesses and starts to have 20 new users a day, just by word of mouth marketing.</p>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">18</span>
									<span class="timeline__month">Mar</span>
								</div>
								<div class="timeline__post inactive__post">
									<div class="timeline__content">
										COFOUNDER
										<p>Meets his school friend, who is a Blockchain Enthusiast and then they decide to work together, and speed up the process to move to a decentralised model.</p>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">18</span>
									<span class="timeline__month">May</span>
								</div>
								<div class="timeline__post">
									<div class="timeline__content">
										TOKEN SALE
										<p>Stage target: attract up to $10,000,000 for Roots Network coding and development.</p>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">28</span>
									<span class="timeline__month">June</span>
								</div>
								<div class="timeline__post">
									<div class="timeline__content">
										ROOTS NETWORK LAUNCH
										<p>Stage target: preparing to launch the Roots Network.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="timeline__group">
							<span class="timeline__year">2019</span>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">28</span>
									<span class="timeline__month">Aug</span>
								</div>
								<div class="timeline__post">
									<div class="timeline__content">
										<p>Coming Soon.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
		.timeline{
			--uiTimelineMainColor: var(--timelineMainColor, #222);
			--uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

			position: relative;
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

		.timeline:before{
			content: "";
			width: 4px;
			height: 100%;
			background-color: var(--uiTimelineMainColor);

			position: absolute;
			top: 0;
		}

		.timeline__group{
			position: relative;
		}

		.timeline__group:not(:first-of-type){
			margin-top: 4rem;
		}

		.timeline__year{
			padding: .5rem 1.5rem;
			color: var(--uiTimelineSecondaryColor);
			background-color: var(--uiTimelineMainColor);

			position: absolute;
			left: 0;
			top: 0;
		}

		.timeline__box{
			position: relative;
		}

		.timeline__box:not(:last-of-type){
			margin-bottom: 30px;
		}

		.timeline__box:before{
			content: "";
			width: 100%;
			height: 2px;
			background-color: var(--uiTimelineMainColor);

			position: absolute;
			left: 0;
			z-index: -1;
		}

		.timeline__date{
			min-width: 65px;
			position: absolute;
			left: 0;

			box-sizing: border-box;
			padding: .5rem 1.5rem;
			text-align: center;

			background-color: var(--uiTimelineMainColor);
			color: var(--uiTimelineSecondaryColor);
		}

		.timeline__day{
			font-size: 2rem;
			font-weight: 700;
			display: block;
		}

		.timeline__month{
			display: block;
			font-size: .8em;
			text-transform: uppercase;
		}

		.timeline__post p{
			margin: 0px;
		}

		.timeline__post{
			margin-left: 20px;
			padding: 1.5rem 2rem;
			border-radius: 2px;
			border-left: 3px solid var(--uiTimelineMainColor);
			box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
			background-color: var(--uiTimelineSecondaryColor);
		}

		.inactive__post{
			border-left: 3px solid #E0E0E0;
			color: black;
			font-size: 0.8em;
			box-shadow: none;
		}

		@media screen and (min-width: 641px){

			.timeline:before{
				left: 30px;
			}

			.timeline__group{
				padding-top: 55px;
			}

			.timeline__box{
				padding-left: 80px;
			}

			.timeline__box:before{
				top: 50%;
				transform: translateY(-50%);  
			}  

			.timeline__date{
				top: 50%;
				margin-top: -27px;
			}
		}

		@media screen and (max-width: 640px){

			.timeline:before{
				left: 0;
			}

			.timeline__group{
				padding-top: 40px;
			}

			.timeline__box{
				padding-left: 20px;
				padding-top: 80px;
			}

			.timeline__box:before{
				top: 90px;
			}    

			.timeline__date{
				top: 0;
			}
		}

		.timeline{
			--timelineMainColor: #89c449;
			font-size: 16px;
		}

		

		
		.page{
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		.page__demo{
			flex-grow: 1;
		}

		.main-container{
			max-width: 960px;
			padding-left: 2rem;
			padding-right: 2rem;

			margin-left: auto;
			margin-right: auto;
		}

		.page__container{
			padding-top: 30px;
			padding-bottom: 30px;
			max-width: 800px;
		}

		.footer{
			padding-top: 1rem;
			padding-bottom: 1rem;
			text-align: center;  
			font-size: 1.4rem;
		}

		.footer__link{
			text-decoration: none;
			color: inherit;
		}

		@media screen and (min-width: 361px){

			.footer__container{
				display: flex;
				justify-content: space-between;
			}
		}

		@media screen and (max-width: 360px){

			.melnik909{
				display: none;
			} 
		}
</style>