<div class="m-page m-jobs departments-stretch " id="roadmap" style="background: #F0F0F0;">
	<div>
		<div class="wide-page">
		    <div id="headline-bottom">
		        <section>
	  				<span class="red-headline">
	  					<b>ROOTS ROADMAP</b>
	  				</span>
				</section>
			</div>
		</div>
	</div>

	<div id="timeline">
		<div class="page">
			<div class="page__demo">
				<div class="main-container page__container">
					<div class="timeline">
						<div class="timeline__group">
							<span class="timeline__year">2017</span>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">Q3</span>
								</div>
								<div class="timeline__post inactive__post">
									<div class="timeline__content">
										● Market Research and Ideation<br/>
										● Design, build and test Roots Platform<br/>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">Q4</span>
								</div>
								<div class="timeline__post inactive__post">
									<div class="timeline__content">
										● Product Development and User acquisition for one city<br/>
										● Release Roots Platform, Gokarna<br/>
										● Business Onboarding on the Beaches<br/>
									</div>
								</div>
							</div>
						</div>
						<div class="timeline__group">
							<span class="timeline__year">2018</span>
							
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">Q1</span>
								</div>
								<div class="timeline__post inactive__post">
									<div class="timeline__content">
										● Team Building<br/>
										● 300+ local businesses onboarded.<br/>
										● Offline Marketing<br/>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">18</span>
									<span class="timeline__month">May</span>
								</div>
								<div class="timeline__post">
									<div class="timeline__content">
										Roots Token Sale Event (Date expected to change)
										<p></p>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">Q2</span>
								</div>
								<div class="timeline__post">
									<div class="timeline__content">
										● Team Building, Business Tie-ups, Advisor Onboarding.<br/>
										● RTS Distribution - Phase 1 (Dutch Auction) + Phase 2 of ICO.<br/>
										● Roots Platform API - Alpha Version.<br/>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">Q3</span>
								</div>
								<div class="timeline__post">
									<div class="timeline__content">
										● RTS Wallet for Businesses and Travellers - Beta Version.<br/>
										● Open Source Data Exchange Standards for Businesses: Hotels, Car Rentals, Tours and Activities.<br/>
										● Roots Testnet. Multisignature integration in RTS Wallet.<br/>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">Q4</span>
								</div>
								<div class="timeline__post">
									<div class="timeline__content">
										● RTS Wallet for Businesses and Travellers Public Launch.<br/>
										● Roots Platform API Public Launch.<br/>
										● Roots Contacts V1.0.<br/>
									</div>
								</div>
							</div>
						</div>
						<div class="timeline__group">
							<span class="timeline__year">2019</span>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">Q1</span>
								</div>
								<div class="timeline__post">
									<div class="timeline__content">
										● Roots Contacts V2.0.<br/>
										● Public data reports published in real time.<br/>
									</div>
								</div>
							</div>
							<div class="timeline__box">
								<div class="timeline__date">
									<span class="timeline__day">Q2</span>
								</div>
								<div class="timeline__post">
									<div class="timeline__content">
										● Advancement into other regions such as Europe, North and South America.<br/>
										● Improved network scalability and privacy.<br/>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
		.timeline{
			--uiTimelineMainColor: var(--timelineMainColor, #222);
			--uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

			position: relative;
			padding-top: 3rem;
			padding-bottom: 3rem;
		}

		.timeline:before{
			content: "";
			width: 4px;
			height: 100%;
			background-color: var(--uiTimelineMainColor);

			position: absolute;
			top: 0;
		}

		.timeline__group{
			position: relative;
		}

		.timeline__group:not(:first-of-type){
			margin-top: 4rem;
		}

		.timeline__year{
			padding: .5rem 1.5rem;
			color: var(--uiTimelineSecondaryColor);
			background-color: var(--uiTimelineMainColor);

			position: absolute;
			left: 0;
			top: 0;
		}

		.timeline__box{
			position: relative;
		}

		.timeline__box:not(:last-of-type){
			margin-bottom: 30px;
		}

		.timeline__box:before{
			content: "";
			width: 100%;
			height: 2px;
			background-color: var(--uiTimelineMainColor);

			position: absolute;
			left: 0;
			z-index: -1;
		}

		.timeline__date{
			min-width: 65px;
			position: absolute;
			left: 0;

			box-sizing: border-box;
			padding: .5rem 1.5rem;
			text-align: center;

			background-color: var(--uiTimelineMainColor);
			color: var(--uiTimelineSecondaryColor);
		}

		.timeline__day{
			font-size: 2rem;
			font-weight: 700;
			display: block;
		}

		.timeline__month{
			display: block;
			font-size: .8em;
			text-transform: uppercase;
		}

		.timeline__post p{
			margin: 0px;
		}

		.timeline__post{
			margin-left: 20px;
			padding: 1.5rem 2rem;
			border-radius: 2px;
			border-left: 3px solid var(--uiTimelineMainColor);
			box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
			background-color: var(--uiTimelineSecondaryColor);
		}

		.inactive__post{
			border-left: 3px solid #E0E0E0;
			color: black;
			font-size: 0.8em;
			box-shadow: none;
		}

		@media screen and (min-width: 641px){

			.timeline:before{
				left: 30px;
			}

			.timeline__group{
				padding-top: 55px;
			}

			.timeline__box{
				padding-left: 80px;
			}

			.timeline__box:before{
				top: 50%;
				transform: translateY(-50%);  
			}  

			.timeline__date{
				top: 50%;
				margin-top: -27px;
			}
		}

		@media screen and (max-width: 640px){

			.timeline:before{
				left: 0;
			}

			.timeline__group{
				padding-top: 40px;
			}

			.timeline__box{
				padding-left: 20px;
				padding-top: 80px;
			}

			.timeline__box:before{
				top: 90px;
			}    

			.timeline__date{
				top: 0;
			}
		}

		.timeline{
			--timelineMainColor: #673AB7;
			font-size: 16px;
		}

		

		
		.page{
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
		}

		.page__demo{
			flex-grow: 1;
		}

		.main-container{
			max-width: 960px;
			padding-left: 2rem;
			padding-right: 2rem;

			margin-left: auto;
			margin-right: auto;
		}

		.page__container{
			padding-top: 30px;
			padding-bottom: 30px;
			max-width: 800px;
		}

		.footer{
			padding-top: 1rem;
			padding-bottom: 1rem;
			text-align: center;  
			font-size: 1.4rem;
		}

		.footer__link{
			text-decoration: none;
			color: inherit;
		}

		@media screen and (min-width: 361px){

			.footer__container{
				display: flex;
				justify-content: space-between;
			}
		}

		@media screen and (max-width: 360px){

			.melnik909{
				display: none;
			} 
		}
</style>