 <section>
	<div id="company-info">
		<div class="info-box clear-padding clear-shadow">
			<div id="departments-description">
				<span class="red-headline">
					<b>TRAVELLERS</b>
				</span>
				<p>Facilitating an unplanned easy travel experience, and that too at a cost lesser than the normal.</p>
		 	</div>
			<ul class="points" style="background: linear-gradient(216deg, #007382, #86f501);">
				<li class="point"><p>Product innovation for destination discovery.</p></li>
				<li class="point"><p>Near Field Communication</p></li>
				<li class="point"><p>Traveller Reputation System: Civic Engagement etc</p></li>
				<li class="point"><p>Peer Producers. New power of the commons. Double Spending Problem resolved.</p></li>
				<li class="point"><p>Right Creators: Ideagoras. Feeding the creators of value first.</p></li>
			</ul>
		</div>
		<div class="info-box clear-shadow">
			<%= image_tag "for_travellers.png"%>
		</div>
	</div>
 </section>