 <section>
	<div id="company-info">
		<div class="info-box clear-padding clear-shadow">
			<div id="departments-description">
				<span class="red-headline">
					<b>TRAVELLERS</b>
				</span>
				<br/>
		 	</div>
		 	
			<ul class="points" style="background: #F2F2F2;">
				<li class="point"><p>Facilitating an unplanned easy travel experience</p></li>
				<li class="point"><p>Travel at cost lesser than normal</p></li>
			</ul>
			<div><br/>Product innovation for destination discovery, near field communication and traveller reputation system are the pillars of this ecosystem.</div>
		</div>
		<div class="info-box clear-shadow">
			<%= image_tag "for_travellers.png", :class => "traveller_phone"%>
		</div>
	</div>
 </section>