<div id="headline-bottom">
	 <section>
		<div id="company-info">
			<div class="info-box clear-padding clear-shadow">
				<div>
					<span class="red-headline">
						<b>TRAVELLERS</b>
					</span>
					<p>
						Our MVP in Gokarna, the coastal town of South India
					</p>
			 	</div>
				<ul class="points" style="background: linear-gradient(216deg, #007382, #86f501);">
						<li class="point">Product innovation for destination discovery.</li>
						<li class="point">Near Field Communication</li>
						<li class="point">Traveller Reputation System: Civic Engagement etc</li>
						<li class="point">Peer Producers. New power of the commons. Double Spending Problem resolved.</li>
						<li class="point">Right Creators: Ideagoras. Feeding the creators of value first.</li>
				</ul>
			</div>
			<div class="info-box clear-shadow">
				<%= image_tag "for_travellers.png"%>
			</div>
		</div>
	 </section>
</div>