/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 
body {
    font-weight: 100;
    color: #343434;
    font-size: 20px;
    background-color: white;
    line-height: 1.3em;
    margin: 0;
    font-family: "Montserrat"
}

.m-text-center {
    text-align: center;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #48def1;
    font-weight: 400;
}

a:hover {
	color: #3eb3c1;
}

img {
    border: 0px;
}

.clearfix {
    zoom: 1;
}

h1 {
    font-size: 5rem;
    letter-spacing: -2px;
    text-indent: -3px;
}

@media only screen and (max-width: 500px){
    h1 {
        font-size: 2.8rem;
        letter-spacing: -1px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 0.3em 0;
    }
}

@media only screen and (max-width: 900px){
    h1 {
        font-size: 4.5rem;
        text-indent: -2px;
    }
}