

.menu-card-wrapper{
	overflow-y: -webkit-paged-x;

	width: 100%;
	padding: 10px;

	.menu-card-header-wrapper{
		text-align: -webkit-center;
		border-bottom: 1px solid;
		border-color: #EAEAEA;
		padding: 20px;
	    padding-top: 50px;
    	padding-bottom: 50px;
	}

	.menu-card-footer{
		margin-top: 100px;
		text-align:center;
	}

	div {
		letter-spacing: 2px;
		font-weight: 250;
	}

	h1{
		padding-left: 10px;
		font-size: 1.5rem;
	    letter-spacing: 2px;
	}

	h2{
		font-size: 1.5rem;
	    font-weight: 400;
	}

	h3{
		font-size: 1.2rem;
		font-weight: 350;
		margin-left: 10px;
	}

	h4{
		font-size: 1rem;
		font-weight: 200;
	}

	.menu-content{

		display: flex;
	    float: left;
	    width: 100%;
	    padding: 10px;

		.menu-panel{
			width: 100vw;
			padding-left: 40px;
			padding-right: 40px;
		    -webkit-column-count: 5; /* Chrome, Safari, Opera */
		    -moz-column-count: 5; /* Firefox */
		    column-count: 5;

		    .category-wrapper{
		    	border: 1px solid;
		    	border-radius: 5px;
		    	border-color: #EAEAEA;
		    	padding: 10px;

				table{
					width: 100%;

					.price-wrapper{
						border-bottom: 1px solid;

						.veg-non-veg{
							width: 10px;
							height: 10px;
							border-radius: 5px;
						}

						.dish{
							font-size: 14px;
							letter-spacing: 1px;
							font-weight: 500;
							font-family: "Helvetica";
						}

						.price{
							float: right;
							font-size: 14px;
							font-family: "Helvetica";
							font-weight: 600;
						}

						.description{
							font-size: 0.8em;
							letter-spacing: 1px;
						}
					}
				}
		    
		    }

		}
	}
}



.brand-icon{
	width: 80px;
}

.food-icon{
	width: 50px;
}

.header-with-icon{
	display: -webkit-inline-box;
	margin-top: 10px;
}

.restaurant-name{
	font-weight: 800;
	font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.restaurant-tagline{
	font-weight: 400;
    letter-spacing: 2px;
}
