

.menu-card-wrapper{
	

	width: 100%;
	padding: 10px;

	.menu-card-header-wrapper{
		text-align: -webkit-center;
		border-color: #EAEAEA;
		padding: 20px;
	    padding-top: 50px;
    	padding-bottom: 50px;
    	position: relative;
    	color: white;

    	.cover-image-wrapper{
    		position: absolute;
		    background-image: url(http://pngimg.com/uploads/wedding/wedding_PNG19490.png);
		    left: 0;
		    right: 0;
		    top: 0;
		    height: 158px;
		    z-index: -1;
    	}
	}

	.menu-card-footer{
		margin-top: 100px;
		text-align:center;
	}

	div {
		letter-spacing: 2px;
		font-weight: 250;
	}

	h1{
		padding-left: 10px;
		font-size: 3rem;
	    letter-spacing: 2px;
	    font-family: 'Alegreya Sans', sans-serif;
	    line-height: 4rem;
	    margin-bottom: 0px;
	    color: white;
	}

	h2{
		font-size: 1.5rem;
	    font-weight: 400;
	}

	h3{
		font-size: 1.2rem;
		font-weight: 350;
		margin-left: 10px;
	}

	h4{
		font-size: 1rem;
		font-weight: 200;
	}

	.menu-content{

		
	    width: 100%;
	    padding: 10px;

		.menu-panel{
			width: 100vw;
			padding-left: 40px;
			padding-right: 40px;
		    -webkit-column-count: 3; /* Chrome, Safari, Opera */
		    -moz-column-count: 3; /* Firefox */
		    column-count: 3;
	        padding-top: 20px;
    		padding-bottom: 30px;

		    .category-wrapper{
			    border-radius: 5px;
			    padding: 10px;

				table{
					width: 100%;
					margin-bottom: 15px;

					.price-wrapper{
						border-bottom: 1px solid #EAEAEA;

						.veg-non-veg{
							width: 10px;
							height: 10px;
							border-radius: 5px;
						}

						.dish{
							font-size: 20px;
							letter-spacing: 1px;
							font-weight: 500;
							font-family: 'Alegreya Sans', sans-serif;
							padding-bottom: 3px;
							text-transform: uppercase;
						}

						.price{
							float: right;
							font-size: 25px;
							font-family: 'Roboto Slab', serif;
							font-weight: 600;
						}

						.description{
							font-size: 0.8em;
							letter-spacing: 1px;
							font-style: oblique;
						}
					}
				}
		    
		    }

		}
	}
}



.brand-icon{
	width: 80px;
}

.food-icon{
	width: 50px;
}

.header-with-icon{
	display: -webkit-inline-box;
	margin-top: 10px;
}

.restaurant-name{
	font-weight: 800;
	font-size: 7rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.restaurant-tagline{
	font-weight: 400;
    letter-spacing: 2px;
}

.brand-tagline{
	font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
}

body{
	background-color: #333;
	color: white;
}

.brand-asset{
	background-color: #8BC34A;
    padding: 20px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin-top: 15px;
    padding-top: 50px;
}

.top-brand-asset{
	background-color: #8BC34A;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bus{
	width: 150px;
}

.logo{
	width: 60px;
}

.brand-message{
	text-transform: uppercase;
    font-weight: bold;
    text-align: justify;
    margin-top: 20px;
    border-top: 1px solid;
    padding-top: 10px;
}

.brand-tagline{
	font-weight: "bold" !important;
	letter-spacing: 1px !important;
    font-size: 9px;
    font-family: 'Roboto Slab', serif;
}

.brand-name{
	font-size: 2rem;
    text-transform: uppercase;
    font-family: helvetica;
    font-weight: bold;
}

.padder{
	padding: 30px;
}

.centered{
	tect-align: center;
}