<!DOCTYPE html>
 <html class="gr__roots_io mdl-js"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>roots: Simplest way to build high quality software. Guaranteed Delivery.</title>
    <meta name="description" content="roots helps businesses design and build world class software through its community of top software developers, designers and product managers. Delivery is guaranteed by roots.">
   
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- // <script type="text/javascript" async="" src="js/pxn5i2rati2c.js"></script> -->
    <script async="" src="js/analytics.js"></script>
    <script>
    	//Loading Queue
      var queueCount = 3;
      function loadQueue(item) {
        // if(!item) {return}
        --queueCount;

        if(queueCount == 0) {
          console.log('fireWhenReady');
          fireWhenReady();
        }
      }

      function fireWhenReady() {
        console.log('trying to fire when ready');
        if(typeof transitions  == 'object') {
          $('body').removeClass('_hide');
          transitions.welcome({firstScene: true});
          transitions.emit('_welcome', {firstScene: true});
        } else {
          setTimeout(function(){fireWhenReady()}, 50)
        }
      }

    </script>
    <script>
    	window['optimizely'] = window['optimizely'] || [];
    	window['optimizely'].push({
    	  type: "event",
    	  eventName: "rootscta"
    	});
    </script>
    <!-- // <script src="js/8434001190.js"></script>   -->
    </head>
  <body class="_welcome" data-gr-c-s-loaded="true" cz-shortcut-listen="true">
		<nav>
			<div class="nav-wrapper">
				<a href="#home" class="logo">
					ROOTS
				</a>
				<div class="nav-ctas-wrapper">
					<a id="nav_start_project" class="ga-start-project ga-nav" href="#" target="_blank" >We're Hiring</a>
				</div>
			</div>
		</nav>
		

		<div class="__nav-overlay"></div>
		<header id="home" style="height: 823px;">
			
			<div class="header-content-wrapper">
				<div id="h1_animation_wrapper">
					<h1 id="future_of_work">Connecting people with the Local <span id="rolling_text">
					<span>Markets</span><span>Businesses</span><span>Restaurants</span><span>Tourism</span></span>

					</h1>
					<span class="__subtitle">Lorem ipsum dolor sit amet, consectetur
					</span>
				</div>
				<div class="landing-ctas-wrapper">
					<a href="#" target="_blank" id="landing_start_project" class="ga-join-community" data-ga="landing">Know more</a>
				</div>
			</div>
			<div class="landing-graphics-wrapper">

			<img onload="loadQueue(&#39;planets-bg&#39;);" class="__planets-bg dont-lazyload" src="images/balls.svg" style="bottom: 623px;">
			</div>
			<section class="top-talent">
				<h1 id="h1_businesses"><span>Restructuring the cities of tomorrow</span></h1>
				<img src="images/roots.png" class="graphics">
                <div class="text">
                	<p>TLorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique ipsum vitae maximus pharetra. Sed vestibulum, neque eu vehicula pellentesque, lectus neque pretium felis, sed suscipit arcu tortor in tortor. Sed ac molestie lacus. Nullam finibus tempus condimentum. Phasellus vel varius libero. </p>
                </div>

				<img class="__company-logos dont-lazyload" src="images/business.png" alt="">
			</section>

		</header>
		<div class="page-wrapper" style="margin-top: -823px;">
			<section id="whatweoffer" class="designers">
				<h2>We're Hiring</h2>

				<div class="owl-carousel owl-theme talent-cards-wrapper">
					<div class="talent-card-wrapper dragend-page">
						<div class="talent-card">
							<div class="title-container">
								<div class="logo-container">
									<img src="images/server.png" alt="">
								</div>
								<div class="title">
									<span class="__role">Business Development CoFounder</span>
								</div>
							</div>
							<div class="about-container">
								<div class="__summary">Integer commodo gravida elit, non vehicula justo luctus maximus.</div>
								<div class="skillsets-wrapper">
									<div class="skillsets">
										<span class="__purple">Cofounder</span>
										<span class="__pink">Business</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="talent-card-wrapper dragend-page">
						<div class="talent-card">
							<div class="title-container">
								<div class="logo-container">
									<img src="images/television.png" alt="">
								</div>
								<div class="title">
									<span class="__role">Android Developer CoFounder</span>
								</div>
							</div>
							<div class="about-container">
								<div class="__summary">Integer commodo gravida elit, non vehicula justo luctus maximus.</div>
								<div class="skillsets-wrapper">
									<div class="skillsets">
										<span class="__purple">Cofounder</span>
										<span class="__pink">Technology</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="talent-card-wrapper dragend-page">
						<div class="talent-card">
							<div class="title-container">
								<div class="logo-container">
									<img src="images/administrator.png" alt="">
								</div>
								<div class="title">
									<span class="__role">Internship in Marketing</span>
								</div>
							</div>
							<div class="about-container">
								<div class="__summary">Integer commodo gravida elit, non vehicula justo luctus maximus.</div>
								<div class="skillsets-wrapper">
									<div class="skillsets">
										<span class="__blue">Internship</span>
										<span class="__pink">Marketing</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					 
					<div class="talent-card-wrapper dragend-page">
						<div class="talent-card">
							<div class="title-container">
								<div class="logo-container">
									<img src="images/android.png" alt="">
								</div>
								<div class="title">
									<span class="__role">Internship in Business Development</span>
								</div>
							</div>
							<div class="about-container">
								<div class="__summary">Integer commodo gravida elit, non vehicula justo luctus maximus.</div>
								<div class="skillsets-wrapper">
									<div class="skillsets">
										<span class="__blue">Internship</span>
										<span class="__pink">Business</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="talent-card-wrapper dragend-page">
						<div class="talent-card">
							<div class="title-container">
								<div class="logo-container">
									<img src="images/analytics.png" alt="">
								</div>
								<div class="title">
									<span class="__role">Internship for Travellers</span>
								</div>
							</div>
							<div class="about-container">
								<div class="__summary">Integer commodo gravida elit, non vehicula justo luctus maximus.</div>
								<div class="skillsets-wrapper">
									<div class="skillsets">
										<span class="__blue">Internship</span>
										<span class="__pink">Travellers</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="talent-card-wrapper dragend-page">
						<div class="talent-card">
							<div class="title-container">
								<div class="logo-container">
									<img src="images/android.png" alt="">
								</div>
								<div class="title">
									<span class="__role">Senior Content Managers</span>
								</div>
							</div>
							<div class="about-container">
								<div class="__summary">Integer commodo gravida elit, non vehicula justo luctus maximus.</div>
								<div class="skillsets-wrapper">
									<div class="skillsets">
										<span class="__yellow">Core Team</span>
										<span class="__pink">Content</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="talent-card-wrapper dragend-page">
						<div class="talent-card">
							<div class="title-container">
								<div class="logo-container">
									<img src="images/analytics.png" alt="">
								</div>
								<div class="title">
									<span class="__role">Senior Marketing Manager</span>
								</div>
							</div>
							<div class="about-container">
								<div class="__summary">Integer commodo gravida elit, non vehicula justo luctus maximus.</div>
								<div class="skillsets-wrapper">
									<div class="skillsets">
										<span class="__yellow">Core Team</span>
										<span class="__pink">Marketing</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="talent-card-wrapper dragend-page">
						<div class="talent-card">
							<div class="title-container">
								<div class="logo-container">
									<img src="images/analytics.png" alt="">
								</div>
								<div class="title">
									<span class="__role">Senior Android Developer</span>
								</div>
							</div>
							<div class="about-container">
								<div class="__summary">Integer commodo gravida elit, non vehicula justo luctus maximus.</div>
								<div class="skillsets-wrapper">
									<div class="skillsets">
										<span class="__yellow">Core Team</span>
										<span class="__pink">Android</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="about-us" id="whathappens">
				<h2 class="scrollme animateme" data-when="span" data-from="0" data-to="1" data-easing="easeinout" data-translatey="-50">What Happens at Roots?</h2>
				
				<ul class="image-wrapper-grid">
				   
				     <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjvETNBqFrecTWQPE_stpP-5IryoYuiRbN3rJSsRttikcaB3uDfg" 
				     ></li>
				     <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjvETNBqFrecTWQPE_stpP-5IryoYuiRbN3rJSsRttikcaB3uDfg" 
				     ></li>
				     <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjvETNBqFrecTWQPE_stpP-5IryoYuiRbN3rJSsRttikcaB3uDfg" 
				     ></li>
				     <li><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjvETNBqFrecTWQPE_stpP-5IryoYuiRbN3rJSsRttikcaB3uDfg" 
				     ></li>
				</ul>

				<div class="join-community-wrapper">
					<a data-ga="future-of-work" href="mailto:contact@roots.ai" target="_blank" class="__join-community-button">Mail your CV at contact@roots.ai</a>
				</div>
			</section>
			
			<section class="how-it-works" id="howitworks">
			<h2 class="scrollme animateme" data-when="span" data-from="0" data-to="1" data-easing="easeinout" data-translatey="-50">Apply Now</h2>
			<ul>
				<li class="_quick-quote scrollme">
					<span class="__pluto animateme" data-when="span" data-from="0" data-to="1" data-easing="easeinout" data-translatey="100"></span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique ipsum vitae maximus pharetra. Sed vestibulum, neque eu vehicula pellentesque, lectus neque pretium felis, sed suscipit arcu tortor in tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique ipsum vitae maximus pharetra. Sed vestibulum, neque eu vehicula pellentesque, lectus neque pretium felis, sed suscipit arcu tortor in tortor.</p>
					<h3>LINKS BELOW</h3>
				</li>
			</ul>
			</section>

			<footer>
				<div class="footer-links">
					<div class="footer-links-wrapper">
						<ul>
							<li><a href="#">Application Form</a></li>
							<li><a href="#">Application Status</a></li>
							<li><a href="https://www.linkedin.com/in/bhuwanarora">Team</a></li>
							<li><a href="mailto:contact@roots.ai">Mail your CV at contact@roots.ai</a></li>
							<!-- <li class="_copyright">© 2017 Dew Solutions Pvt. Ltd. All rights reserved.</li> -->
						</ul>
					</div>
				</div>
			</footer>	
		</div>
	
     <script>
      	document.getElementsByTagName('header')[0].style.height = window.innerHeight+'px';

      	setTimeout(function() {
        	document.getElementsByTagName('header')[0].style.height = window.innerHeight+'px';        
      	}, 200);
      

    </script>
    <script type="text/javascript">
      /* NProgress, (c) 2013, 2014 Rico Sta. Cruz - http://ricostacruz.com/nprogress
 * @license MIT */
 ;(function(root,factory){if(typeof define==='function'&&define.amd){define(factory);}else if(typeof exports==='object'){module.exports=factory();}else{root.NProgress=factory();}})(this,function(){var NProgress={};NProgress.version='0.2.0';var Settings=NProgress.settings={minimum:0.08,easing:'ease',positionUsing:'',speed:200,trickle:true,trickleRate:0.02,trickleSpeed:800,showSpinner:true,barSelector:'[role="bar"]',spinnerSelector:'[role="spinner"]',parent:'body',template:'<div class="bar" role="bar"><div class="peg"></div></div><div class="spinner" role="spinner"><div class="spinner-icon"></div></div>'};NProgress.configure=function(options){var key,value;for(key in options){value=options[key];if(value!==undefined&&options.hasOwnProperty(key))Settings[key]=value;}
return this;};NProgress.status=null;NProgress.set=function(n){var started=NProgress.isStarted();n=clamp(n,Settings.minimum,1);NProgress.status=(n===1?null:n);var progress=NProgress.render(!started),bar=progress.querySelector(Settings.barSelector),speed=Settings.speed,ease=Settings.easing;progress.offsetWidth;queue(function(next){if(Settings.positionUsing==='')Settings.positionUsing=NProgress.getPositioningCSS();css(bar,barPositionCSS(n,speed,ease));if(n===1){css(progress,{transition:'none',opacity:1});progress.offsetWidth;setTimeout(function(){css(progress,{transition:'all '+ speed+'ms linear',opacity:0});setTimeout(function(){NProgress.remove();next();},speed);},speed);}else{setTimeout(next,speed);}});return this;};NProgress.isStarted=function(){return typeof NProgress.status==='number';};NProgress.start=function(){if(!NProgress.status)NProgress.set(0);var work=function(){setTimeout(function(){if(!NProgress.status)return;NProgress.trickle();work();},Settings.trickleSpeed);};if(Settings.trickle)work();return this;};NProgress.done=function(force){if(!force&&!NProgress.status)return this;return NProgress.inc(0.3+ 0.5*Math.random()).set(1);};NProgress.inc=function(amount){var n=NProgress.status;if(!n){return NProgress.start();}else{if(typeof amount!=='number'){amount=(1- n)*clamp(Math.random()*n,0.1,0.95);}
n=clamp(n+ amount,0,0.994);return NProgress.set(n);}};NProgress.trickle=function(){return NProgress.inc(Math.random()*Settings.trickleRate);};(function(){var initial=0,current=0;NProgress.promise=function($promise){if(!$promise||$promise.state()==="resolved"){return this;}
if(current===0){NProgress.start();}
initial++;current++;$promise.always(function(){current--;if(current===0){initial=0;NProgress.done();}else{NProgress.set((initial- current)/ initial);
}});return this;};})();NProgress.render=function(fromStart){if(NProgress.isRendered())return document.getElementById('nprogress');addClass(document.documentElement,'nprogress-busy');var progress=document.createElement('div');progress.id='nprogress';progress.innerHTML=Settings.template;var bar=progress.querySelector(Settings.barSelector),perc=fromStart?'-100':toBarPerc(NProgress.status||0),parent=document.querySelector(Settings.parent),spinner;css(bar,{transition:'all 0 linear',transform:'translate3d('+ perc+'%,0,0)'});if(!Settings.showSpinner){spinner=progress.querySelector(Settings.spinnerSelector);spinner&&removeElement(spinner);}
if(parent!=document.body){addClass(parent,'nprogress-custom-parent');}
parent.appendChild(progress);return progress;};NProgress.remove=function(){removeClass(document.documentElement,'nprogress-busy');removeClass(document.querySelector(Settings.parent),'nprogress-custom-parent');var progress=document.getElementById('nprogress');progress&&removeElement(progress);};NProgress.isRendered=function(){return!!document.getElementById('nprogress');};NProgress.getPositioningCSS=function(){var bodyStyle=document.body.style;var vendorPrefix=('WebkitTransform'in bodyStyle)?'Webkit':('MozTransform'in bodyStyle)?'Moz':('msTransform'in bodyStyle)?'ms':('OTransform'in bodyStyle)?'O':'';if(vendorPrefix+'Perspective'in bodyStyle){return'translate3d';}else if(vendorPrefix+'Transform'in bodyStyle){return'translate';}else{return'margin';}};function clamp(n,min,max){if(n<min)return min;if(n>max)return max;return n;}
function toBarPerc(n){return(-1+ n)*100;}
function barPositionCSS(n,speed,ease){var barCSS;if(Settings.positionUsing==='translate3d'){barCSS={transform:'translate3d('+toBarPerc(n)+'%,0,0)'};}else if(Settings.positionUsing==='translate'){barCSS={transform:'translate('+toBarPerc(n)+'%,0)'};}else{barCSS={'margin-left':toBarPerc(n)+'%'};}
barCSS.transition='all '+speed+'ms '+ease;return barCSS;}
var queue=(function(){var pending=[];function next(){var fn=pending.shift();if(fn){fn(next);}}
return function(fn){pending.push(fn);if(pending.length==1)next();};})();var css=(function(){var cssPrefixes=['Webkit','O','Moz','ms'],cssProps={};function camelCase(string){return string.replace(/^-ms-/,'ms-').replace(/-([\da-z])/gi,function(match,letter){return letter.toUpperCase();});}
function getVendorProp(name){var style=document.body.style;if(name in style)return name;var i=cssPrefixes.length,capName=name.charAt(0).toUpperCase()+ name.slice(1),vendorName;while(i--){vendorName=cssPrefixes[i]+ capName;if(vendorName in style)return vendorName;}
return name;}
function getStyleProp(name){name=camelCase(name);return cssProps[name]||(cssProps[name]=getVendorProp(name));}
function applyCss(element,prop,value){prop=getStyleProp(prop);element.style[prop]=value;}
return function(element,properties){var args=arguments,prop,value;if(args.length==2){for(prop in properties){value=properties[prop];if(value!==undefined&&properties.hasOwnProperty(prop))applyCss(element,prop,value);}}else{applyCss(element,args[1],args[2]);}}})();function hasClass(element,name){var list=typeof element=='string'?element:classList(element);return list.indexOf(' '+ name+' ')>=0;}
function addClass(element,name){var oldList=classList(element),newList=oldList+ name;if(hasClass(oldList,name))return;element.className=newList.substring(1);}
function removeClass(element,name){var oldList=classList(element),newList;if(!hasClass(element,name))return;newList=oldList.replace(' '+ name+' ',' ');element.className=newList.substring(1,newList.length- 1);}
function classList(element){return(' '+(element.className||'')+' ').replace(/\s+/gi,' ');}
function removeElement(element){element&&element.parentNode&&element.parentNode.removeChild(element);}
return NProgress;});

    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>

    <script src="js/index.js"></script>
    	
    <script>
   
		$('.owl-carousel').owlCarousel({
		    loop:true,
		    margin:10,
		    nav:true,
		    autoplay: true,
		    autoplayTimeout:5000,
		    responsive:{
		        0:{
		            items:1
		        },
		        600:{
		            items:3
		        },
		        1000:{
		            items:4
		        }
		    }
		})
	</script>

 </body>
</html>