<div class="homepage">
	<div class="home-content m-text-center">
		<%= image_tag "logo.svg", :class => "home-logo", :alt => "Roots.ai. Real Experiences. Real People. Real Memories."%>
		<div class="download-container">
			<div class="home-download-app" translate="home.orDownloadNow">
				<div><b>Roots.ai</b></div>
				<div>is coming soon</div>
			</div>
			<download-buttons>
				<div class="download-buttons">
					<a href=""class="download-button">
						<%= image_tag "appStore.svg", :alt => "Apple App Store" %>
					</a>
					<a href="" class="download-button">
						<%= image_tag "playStore.svg", :alt => "Google Play Store"%>
					</a>

				</div>      
			</download-buttons>
		</div>
		<div class="home-footer">
			<div class="home-tagline" translate="home.onlineComingSoon"></div>
			<a href="" class="home-learn-more" translate="home.LearnMore">Learn more</a>
		</div>
		<div class="nav-opener-container">
			<div class="nav-arrow">
				<a href="#home-nav">
					<%= image_tag "downArrow.svg" %>
				</a>
			</div>
		</div>
	</div>
	<div class="below-the-fold">
		<nav id="home-nav">
			<section class="nav-group " ng-if="showNavDownloadLinks">
				<h5 class="nav-group-header " translate="home.Download">Download</h5>
				<ul>
					<li><a href="" translate="home.DownloadForIOS">Download for iOS</a></li>
					<li><a href="" translate="home.DownloadForAndroid">Download for Android</a></li>
				</ul>
			</section>

			<section class="nav-group">
				<h5 class="nav-group-header " translate="home.Community">Community</h5>
				<ul>
					<li><a translate="home.CommunityGuidelines">Community Guidelines</a></li>
					<li><a translate="home.Safety">Safety Tips</a></li>
					<li><a translate="home.Support">Support</a></li>
				</ul>
			</section>

			<section class="nav-group">
				<h5 class="nav-group-header " translate="home.News">News</h5>
				<ul>
					<li><a translate="home.Blog">Blog</a></li>
					<li><a translate="home.TechBlog">Tech Blog</a></li>
					<li><a translate="home.Press">Press</a></li>
				</ul>
			</section>

			<section class="nav-group">
				<h5 class="nav-group-header " translate="home.Company">Company</h5>
				<ul>
					<li><a translate="home.Careers">Careers</a></li>
					<li><a translate="home.Contact">Contact</a></li>
					<li><a translate="home.about">About</a></li>
				</ul>
			</section>

			<section class="nav-group">
				<h5 class="nav-group-header " translate="home.Partners" translate-default="Partners">Partners</h5>
				<ul>
					<li><a target="_blank" href="https://aws.amazon.com/startups/">AWS Startups</a></li>
					<li><a target="_blank" href="https://www.ibm.com/us-en/">IBM</a></li>
				</ul>
			</section>

			<section class="nav-group">
				<h5 class="nav-group-header " translate="home.Legal">Legal</h5>
				<ul>
					<li><a translate="home.Privacy">Privacy</a></li>
					<li><a translate="home.Terms">Terms</a></li>
				</ul>
			</section>
		</nav>
	</div>
</div>